@import "src/styles";

.new-comment {
  background-color: $white-color;
  border-radius: 7px;

  display: flex;
  padding: 20px;

  .avatar-wrapper {
    $avatar-size: 40px;

    img {
      width: $avatar-size;
      height: $avatar-size;
    }
  }

  .input-wrapper {
    flex: 1;
    margin: 0 12px;
    padding: 12px;
    border-radius: 5px;
    border: 1px solid lightgray;
    &:hover {
      border-color: $accent-color;
    }
    textarea {
      outline: none;
      border: none;
      height: 85px;
      resize: none;
      width: 100%;

    }
  }

  .action {
    width: fit-content;

    button {
      text-transform: uppercase;
      outline: none;
      border: none;
      border-radius: 5px;
      color: $white-color;
      background-color: $accent-color;
      cursor: pointer;
      padding: 10px 18px;

      &:hover {
        background-color: hsl(239, 57%, 85%);
      }
    }

  }
}

@media (max-width: 450px) {
  .new-comment {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr auto;
    padding: 20px;


    .input-wrapper {
      grid-column-start: 1;
      grid-column-end: 3;
      grid-row-start: 1;
      grid-row-end: 1;

      margin: 0;
    }

    .avatar-wrapper {
      grid-row-start: 2;
      grid-row-end: 2;
      grid-column-start: 1;
      grid-column-end: 2;
      padding: 12px 0;
    }

    .action {
      grid-row-start: 2;
      grid-row-end: 2;
      grid-column-start: 2;
      grid-column-end: 3;
      width: 100%;
      padding: 12px 0;
      display: flex;
      justify-content: flex-end;
    }
  }
}

:host {
  display: block;
}

